.photos-list { 
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    margin-top: 45px;

    align-items: stretch;
}

.photos-list--card {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 1rem;
  word-wrap: break-word;

  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  max-width: 100%;
}

.photos-list--card img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    max-height: 300px;
}

.photo-list--no-results,
.photo-list--error-message {
  text-align: center;
  grid-column: 1/-1;
}

.photo-list--error-message {
  color: red;
}